@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif, FontAwesome;
}

/* Color Palette */
$saffron: #EEC643;
$night: #141414;
$antiflashLight: #EEF0F2;
$zaffre: #0D21A1;
$oxfordBlue: #011638;

body, .container, .used-letters, .word { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }

body {
    background-color: $night; min-height: 100vh;   
    .container {
        flex-direction: column;
        width: 575px; min-height: 200px; height: auto;
        background-color: $antiflashLight; color: $night;
        border-radius: 10px; padding: 1em;
        text-align: center; 

        p, span { user-select: none; }

        #title {
            width: 100%; display: inline-block;
            margin-bottom: 5px;
            font-size: 24px; letter-spacing: 2px; text-transform: uppercase; line-height: 1.5;
        }
        #subtitle { font-size: 14px; line-height: 2; }

        .canvas-container {
            width: 100%;
            padding: 0.5rem 1em; border-top: 1px solid $night;
            span { 
                display: none; width: 100%;
                margin-bottom: 10px;
                font-size: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 2px; color: #6B0504;                 
            }  
            i {
                margin-inline: 3px;
                &:first-child { margin-left: 0; }
                &:last-child { margin-right: 0; }
            }
            .heart-active { color: crimson; }
            .heart-lost { color: #6B7280; }
        }

        #totalLetters {
            width: 100%;
            font-size: 16px;
            padding-top: 0.5rem;
            border-top: 1px solid $night;
        }        

        .word {
            align-items: flex-end; width: 100%;
            margin: 5px 0 10px 0; 
            cursor: default; user-select: none;
            .letter {
                font-size: 20px;
                text-decoration: underline; margin-inline: 5px;
                line-height: 0.75;
                &:first-child { margin-left: 0; }
                &:last-child { margin-right: 0; }
            }
        }
        .hidden {
            display: inline-block; width: 15px;
            color: transparent;
            border-bottom: 2px solid $night; margin-inline: 5px;
        }       

        .used-letters {
            &::before {
                content: 'Letras ya utilizadas: '; margin-right: 10px;
                font-size: 14px; color: $oxfordBlue;
            }            
            width: 100%; padding: 5px; 
            letter-spacing: 1px; font-size: 12px; color: $zaffre;
            user-select: none;
            span {
                font-weight: bold; transition: 0.25s; cursor: pointer;
                &:hover { font-size: 14px; font-weight: bolder; }
            }
        }

        .word-preview {
            font-size: 10px; letter-spacing: 1px; color: $night;
            margin: 5px 0;
        }

        #playButton {      
            width: 50%; height: 45px; margin-top: 5px;        
            background-color: $zaffre; color: $antiflashLight;            
            font-size: 20px; 
            &:hover { background-color: $oxfordBlue; }
            i { font-size: 18px; }
        }
    }    
}